* {
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16;
}

.container {
    background-color:rgb(201, 217, 238);
    border-radius: 6px;
    padding: 1em;
    max-width: 600px;
    min-width: 300px;
    font-family: inherit;
    margin: auto;
}

label {
    display: inline-block;
    width: 24%;
    vertical-align: top;
}

input[type="text"],
input[type="email"] {
    border: 2px solid transparent;
    margin: 0 0 1em 0;
    padding: 10px;
    width: 74%;
}

input[type="submit"] {
    border: 2px solid transparent;
    background-color: #999;
    border-radius: 5px;
    padding: 10px 2em;
    font-weight: bold;
    color: #fff;
}

textarea {
    border: 2px solid transparent;
    margin: 0;
    padding: 10px;
    width: 74%;
    resize: none;
}

input[type="submit"]:hover {
    background-color: #333;
}

input:focus, textarea:focus {
    border: 2px solid #444;
}

.info {
    text-align: right;
    margin: 0;
    margin-right: 7px;
}

#comment-list {
    width: 100%;
    background-color: steelblue;
    padding: 1em;
    border-radius: 5px;
}

#comment-list p {
    background-color: #fff;
    border-radius: 6px;
    padding: 1em;
    margin-top: 1em;
    width: 100%;
}